h2, h5{





    font-family: 'Ultra', serif;




}
body {
background-color: chartreuse;
}
.card {
    width: 25%;
}
.listado {
    display :flex;
    flex-wrap: wrap;
    justify-content: center;

}
.principal {
    text-align: center;
}

@media (max-width: 900px) {
    .card {
        width:50%;
    }
}
@media (max-width: 576px) {
    .card {
        width:100%;
    }
 }


